* {
margin: 0;
padding: 0;
list-style: none;
box-sizing: border-box;
font-family: "Nunito", sans-serif;
text-decoration: none;
  }

body {
min-height: 100vh;
min-width: 100vw;
}

#container{
    padding: 20px;
    
}

.titlebox {
display: flex;
flex-direction: column;
margin-bottom: 30px;

}

img {
    width: 15%;
}

.imagebox{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-size: 18px;
    color: black;
    text-align: center;
}


label{
    font-size: 16px;
    margin-bottom: 8px;
}

.namefield{
    margin-top: 25px;
}

.namebox,
.birthbox,
.countrybox,
.contactbox {
margin-top: 10px;
}

input {
    /* display: inline-block; */
  /* margin-top: 25px; */
  height: 25px;
  padding: 25px;
  width: 30vw;
  border-radius: 5px;
  border: none;
  background-color: lightblue;
  font-weight: 500;
  color: black;
  outline: none;
  margin-bottom: 30px;
  margin-right: 10px;
}

input[type=text],
input[type=date] {
width: 30vw;
}

select{
  width:15vw;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: none;
}

select option{
    color: black;
}

.extras {
    display: flex;
    gap: 100px;
    margin-bottom: 30px;
}

.r-text{
    margin-right: 10px;
}
.boxfile {
    display: flex; 
}

.boxfile p{
    margin-bottom: 10px;
}
.services{
    display: flex;
}
.services p{
    text-align: center;
    margin-bottom: 10px;
}
.accountbox h4{
    margin-bottom: 10px;
}

.bvnbox{
    display: flex;
}
.bvnbox p{
    text-align: center;
    margin-bottom: 10px;
}
.uploadbox h4{
    margin-bottom: 10px;
}

.btn {
    display: flex;
    justify-content: center;
}

.submitbtn {
    background-color: #40c526;
    padding: 0.7rem 2rem;
    color: white;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    font-size: 0.9375rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;

}